/* 
    * 이 코드는 사용자 정의 폰트를 사용하는 예시입니다.
    * "Noto Sans KR" 폰트에 대한 font-face를 정의하며, font-weight와 font-style과 같은 특정 속성을 가지고 있습니다.
    * 폰트 파일은 '../assets/fonts' 하위에 위치해 있어야합니다.
    * font-display 속성은 폰트 로딩을 최적화하기 위해 'swap'으로 설정되어 있습니다.
*/
/* @font-face {
        font-family: "Noto Sans KR", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        src: url('../assets/fonts/NotoSansKR-Regular.ttf') format('ttf');
        font-display: swap;
    }
*/
